@import url("communs.css");

section{
    display:flex;
    flex-flow : row wrap;
    justify-content: center;
}
body{
    background-color: var(--couleur-0);
}
.barre-de-menu {
    background-color: var(--couleur-6);
  }
  
  .barre-de-menu > li > a {
    color: var(--couleur-0);
  }
  h1 {
    color: var(--couleur-6);
  }
  a{
   background-color: var(--couleur-6);
   color : var(--couleur-0);
   padding : 10px;
   margin : 5px;
   border-radius: 5px;
   height : 125 px;
   width : 100px;
   
  }
  img{
    justify-content: center;
    filter : grayscale(1)
  }
  :hover{
    filter : grayscale(0);
  }